@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}


@font-face {
  src: url("/fonts/Boishakhi.ttf") format("ttf");
  font-family: 'Boishakhi';
  font-weight: normal;
  font-style: normal;
}

.font-boishakhi {
  font-family: Boishakhi !important;
  font-weight: normal;
  font-style: normal;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}




.dotted_bottom {
  border: none;
  border-bottom: 1px dotted #000;
  background-color: #fff;
}



.input_bangla {
  font-family: Boishakhi !important;
  font-size: 90%;
}


.numeric_bangla {
  font-family: Boishakhi !important;
  font-size: 80%;
}


.font-14-17 {
  font-size: 14px;
  line-height: 17px;
}

.font-13-15 {
  font-size: 13px;
  line-height: 15px;
}

.font-11-13 {
  font-size: 11px;
  line-height: 13px;
}

.font-10-12 {
  font-size: 11px;
  line-height: 13px;
}


.b1 {
  border: 1px dotted;
  padding: 2px;
}

.table-bordered {
  border: 1px solid #ddd;
}